.app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.container {
  border: 2px solid #4dabe4;
  position: relative;
}

.row {
  height: 102px;
  border: none;
}

.absBox {
  position: absolute;
  background-color: #4dabe4;
  top: 2px;
  left: 2px;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  border: none;
  font-size: 20px;
  color: #ffffff;
  outline: none;
  transition: 1s ease;
}

.btn_add_col {
  background-color: #f1a417;
  top: 2px;
}
.btn_del_col {
  background-color: #b00100;
  /* top: -52px; */
}
.btn_del_row {
  background-color: #b00100;
  /* left: -52px; */
}
.btn_add_col:hover,
.btn_add_row:hover {
  background-color: #f5bf5c;
}
.btn_del_col:hover,
.btn_del_row:hover {
  background-color: #c84d4c;
}

.btn_add_row {
  background-color: #f1a417;
  left: 2px;
}
