.app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.container {
  border: 2px solid #4dabe4;
  position: relative;
}

.row {
  height: 102px;
  border: none;
}

.absBox {
  position: absolute;
  background-color: #4dabe4;
  top: 2px;
  left: 2px;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
